.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
  padding-left: 30vw;
  padding-right: 30vw;
  text-align: center; 
}

.menu {
  height: 30px; /* Adjust height as needed */
  display: flex;
  align-items: center;
  padding: 5px;
  border-bottom: 1px solid #dadada;
}

.menu-item {
  width: 25px;
  margin: 0 5px;
  display: inline-block;
  text-decoration: none;
  transition: transform 0.3s ease;
}

.menu-item:hover {
  transform: scale(1.1); /* Scale up on hover */
}

.logo {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
}

button {
  background-color: #4D8D44;
  color: white;
  font-weight: 600;
  font-family: "Montserrat", sans-serif;
  border: none;
  transition: transform 0.3s ease;
  padding: 5px;
  border-radius: 5pt;
}

button:hover {
  transform: scale(1.1);
}

input {
  font-family: "Montserrat", sans-serif;
  transition: transform 0.3s ease;
  padding: 5px;
  border-radius: 5pt;
  background-color: #e1e1e1;
  border: none;
  width: fill;
}

.footer {
  border-top: 1px solid #dadada;
  height: 30px; /* Adjust height as needed */
  padding: 5px;
  margin: 0 5px;
  display: flex;
  text-decoration: none;
  transition: transform 0.3s ease;
  align-items: center;
  justify-content: center;
}

a {
  font-size: 12pt;
  text-decoration: none;
  color: #4D8D44;
  font-weight: 700;
}

p {
  color: #555555;
  font-size: 14pt; 
}

h1 {
  font-size: 30pt;
}